# **ALGORITHMS FOR MASSIVE DATA**
# Market Basket Analysis on IMBD dataset

----

Summary:

1.   Imports
2.   Pre-processing

## **1. Imports**

Importing kaggle.

In [1]:
!pip install -q kaggle

In [2]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"martinaviggiano","key":"53a50dae23b35b3c81b9063b6c417e93"}'}

In [3]:
!pip install -q kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Importing imdb-dataset data.

In [4]:
!kaggle datasets download -d ashirwadsangwan/imdb-dataset

Downloading imdb-dataset.zip to /content
 99% 1.42G/1.44G [00:12<00:00, 134MB/s]
100% 1.44G/1.44G [00:12<00:00, 120MB/s]

In [5]:
!unzip imdb-dataset.zip

Archive:  imdb-dataset.zip
  inflating: name.basics.tsv.gz
  inflating: name.basics.tsv/name.basics.tsv
  inflating: title.akas.tsv.gz
  inflating: title.akas.tsv/title.akas.tsv
  inflating: title.basics.tsv.gz
  inflating: title.basics.tsv/title.basics.tsv
  inflating: title.principals.tsv.gz
  inflating: title.principals.tsv/title.principals.tsv
  inflating: title.ratings.tsv.gz
  inflating: title.ratings.tsv/title.ratings.tsv

## **2. Pre-processing**

We will consider movies as baskets and actors as items.

In [ ]:
!pip install pyspark

In [6]:
from pyspark.sql import SparkSession
#from pyspark.conf import SparkConf
from pyspark import SparkConf, SparkContext

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 38 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 45.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=6a3558dccc9010df156d33d2bdfea45c273641f42a69b66d5579951c39d2385d
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [7]:
spark = SparkSession.builder.enableHiveSupport().getOrCreate()

In [8]:
import pandas as pd
import pickle

In [9]:
title_basics = spark.read.csv('title.basics.tsv.gz', header=True, sep = '\t')

In [10]:
title_basics = title_basics.filter((title_basics.titleType == 'movie'))
title_basics.show(5)

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000009|    movie|          Miss Jerry|          Miss Jerry|      0|     1894|     \N|            45|             Romance|
|tt0000147|    movie|The Corbett-Fitzs...|The Corbett-Fitzs...|      0|     1897|     \N|            20|Documentary,News,...|
|tt0000335|    movie|Soldiers of the C...|Soldiers of the C...|      0|     1900|     \N|            \N|     Biography,Drama|
|tt0000502|    movie|            Bohemios|            Bohemios|      0|     1905|     \N|           100|                  \N|
|tt0000574|    movie|The Story of the ...|The Story of the ...|      0|     1906|     \N|            70|Biography,Crime,D...|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 5 rows

In [11]:
title_principals = spark.read.csv('title.principals.tsv.gz', header=True, sep = '\t')

In [12]:
title_principals = title_principals.filter((title_principals.category == "actor") | (title_principals.category == "actress"))
title_principals = title_principals.select("tconst","nconst")
title_principals.show(5)

+---------+---------+
|   tconst|   nconst|
+---------+---------+
|tt0000005|nm0443482|
|tt0000005|nm0653042|
|tt0000007|nm0179163|
|tt0000007|nm0183947|
|tt0000008|nm0653028|
+---------+---------+
only showing top 5 rows

In [13]:
df_title = title_principals.join(title_basics, ["tconst"], 'leftsemi')
df_title.show(5)

+---------+---------+
|   tconst|   nconst|
+---------+---------+
|tt0000335|nm1010955|
|tt0000335|nm1012612|
|tt0000335|nm1011210|
|tt0000335|nm1012621|
|tt0000335|nm0675239|
+---------+---------+
only showing top 5 rows

In [14]:
name_basics = spark.read.csv('name.basics.tsv.gz', header=True, sep = '\t')

In [15]:
#df_title = title_principals[title_principals.set_index(['tconst']).index.isin(title_basics.set_index(['tconst']).index)]

In [16]:
#df_title.write.format('csv').option('header',True).mode('overwrite').option('sep','|').save("/content/drive/MyDrive/Università/amd_Market_Basket/df_title.csv")

In [17]:
#df_title.rdd.getNumPartitions()

In [18]:
#!cp df_title.csv /content/drive/MyDrive/Università/amd_Market_Basket

In [19]:
#title_basics.to_csv("title_basics.csv", index=False, sep="|")

In [20]:
#!cp title_basics.csv /content/drive/MyDrive/Università/amd_Market_Basket

In [21]:
#title_principals.to_csv("title_principals.csv", index=False, sep="|")

In [22]:
#!cp title_principals.csv /content/drive/MyDrive/Università/amd_Market_Basket

Load back

In [23]:
#from google.colab import drive
#drive.mount('/content/drive')

In [24]:
#df_title_ = spark.read.csv("/content/drive/MyDrive/Università/amd_Market_Basket/df_title.csv", header=True, sep = '|')

In [25]:
df_title.summary().show()

+-------+---------+---------+
|summary|   tconst|   nconst|
+-------+---------+---------+
|  count|  1694722|  1694722|
|   mean|     null|     null|
| stddev|     null|     null|
|    min|tt0000009|nm0000001|
|    25%|     null|     null|
|    50%|     null|     null|
|    75%|     null|     null|
|    max|tt9916730|nm9993680|
+-------+---------+---------+

In [26]:
#df_title_.summary().show()

In [27]:
from pyspark.sql.functions import collect_set, col, count

baskets = df_title.groupBy('tconst').agg(collect_set('nconst').alias('actors'))
baskets.createOrReplaceTempView('baskets')
df_title.show(5)
baskets.show(5)

+---------+---------+
|   tconst|   nconst|
+---------+---------+
|tt0000335|nm1010955|
|tt0000335|nm1012612|
|tt0000335|nm1011210|
|tt0000335|nm1012621|
|tt0000335|nm0675239|
+---------+---------+
only showing top 5 rows

+---------+--------------------+
|   tconst|              actors|
+---------+--------------------+
|tt0000335|[nm1012612, nm067...|
|tt0000630|         [nm0624446]|
|tt0000676|[nm0140054, nm009...|
|tt0000793|         [nm0691995]|
|tt0000862|[nm0264569, nm528...|
+---------+--------------------+
only showing top 5 rows

In [28]:
from pyspark.ml.fpm import FPGrowth

fpGrowth = FPGrowth(itemsCol="actors", minSupport=0.00001, minConfidence=0.00001)
model = fpGrowth.fit(baskets)

In [29]:
# Display frequent itemsets.
mostPopularItemInABasket = model.freqItemsets
mostPopularItemInABasket.createOrReplaceTempView("mostPopularItemInABasket")
mostPopularItemInABasket.show()

# Display generated association rules.
associationRules = model.associationRules
associationRules.createOrReplaceTempView("associationRules")
associationRules.show()

# transform examines the input items against all the association rules and summarize the consequents as prediction
associations = model.transform(baskets)
associations.show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+--------------------+----+
|               items|freq|
+--------------------+----+
|         [nm0387390]|  20|
|         [nm0084153]|   7|
|         [nm1209934]|   4|
|         [nm0927092]|   9|
|         [nm0271806]|  46|
|[nm0271806, nm015...|   5|
|[nm0271806, nm093...|   7|
|[nm0271806, nm067...|   7|
|[nm0271806, nm047...|   4|
|[nm0271806, nm039...|   5|
|[nm0271806, nm039...|   4|
|[nm0271806, nm051...|   7|
|[nm0271806, nm004...|   4|
|         [nm1171731]|   6|
|         [nm1008709]|   9|
|         [nm0194638]|  33|
|         [nm9562694]|   4|
|         [nm1037451]|   8|
|[nm1037451, nm231...|   4|
|         [nm8920170]|   7|
+--------------------+----+
only showing top 20 rows

+--------------------+-----------+-------------------+------------------+--------------------+
|          antecedent| consequent|         confidence|              lift|             support|
+--------------------+-----------+-------------------+------------------+--------------------+
|         [nm1002353]|[nm0019382]| 0.3333333333333333|  575.671052631579|1.523774694673645...|
|         [nm3626959]|[nm1847621]| 0.5555555555555556| 12867.94117647059|1.269812245561371...|
|         [nm3721804]|[nm1990182]|                0.8|3841.5512195121955|1.015849796449097E-5|
|         [nm3721804]|[nm1984183]|                1.0|2250.0514285714285|1.269812245561371...|
|[nm0762844, nm053...|[nm0690450]| 0.3333333333333333| 898.9931506849314|1.015849796449097E-5|
|[nm0762844, nm053...|[nm0764762]| 0.3333333333333333| 535.7265306122448|1.015849796449097E-5|
|[nm0762844, nm053...|[nm0623427]| 0.3333333333333333|  301.038990825688|1.015849796449097E-5|
|[nm0623325, nm381...|[nm0706691]| 0.8571428571428571|1071.4530612244896|1.523774694673645...|
|[nm0101558, nm015...|[nm2823350]|                0.2|           3937.59|1.269812245561371...|
|         [nm9356360]|[nm0993416]| 0.7142857142857143|2083.3809523809523|1.269812245561371...|
|         [nm0905268]|[nm0793675]| 0.2727272727272727|  4474.53409090909|3.047549389347291E-5|
|         [nm0905268]|[nm0370577]|0.11363636363636363| 710.2435064935065|1.269812245561371...|
|         [nm0905268]|[nm0442709]|0.11363636363636363| 658.0197192513368|1.269812245561371...|
|         [nm0905268]|[nm0559385]|0.09090909090909091| 511.3753246753247|1.015849796449097E-5|
|         [nm0905268]|[nm0847118]|0.09090909090909091| 402.2053115423902|1.015849796449097E-5|
|         [nm0905268]|[nm1249047]|0.13636363636363635|1309.6197339246119|1.523774694673645...|
|         [nm0905268]|[nm4440521]|0.09090909090909091| 5966.045454545455|1.015849796449097E-5|
|[nm2719915, nm128...|[nm1770187]| 0.8571428571428571|2836.1992797118846|1.523774694673645...|
|[nm2719915, nm128...|[nm2369538]| 0.5714285714285714|1973.7293233082705|1.015849796449097E-5|
|[nm2719915, nm128...|[nm2077739]| 0.8571428571428571|2884.6813186813188|1.523774694673645...|
+--------------------+-----------+-------------------+------------------+--------------------+
only showing top 20 rows

+---------+--------------------+--------------------+
|   tconst|              actors|          prediction|
+---------+--------------------+--------------------+
|tt0000335|[nm1012612, nm067...|                  []|
|tt0000630|         [nm0624446]|[nm0211158, nm018...|
|tt0000676|[nm0140054, nm009...|[nm0647274, nm067...|
|tt0000793|         [nm0691995]|[nm0367111, nm082...|
|tt0000862|[nm0264569, nm528...|                  []|
|tt0000941|[nm0034453, nm014...|[nm0222420, nm067...|
|tt0000992|         [nm0119164]|[nm1267460, nm071...|
|tt0001101|         [nm0923594]|                  []|
|tt0001112|[nm0135493, nm014...|[nm1292464, nm009...|
|tt0001115|[nm0627140, nm029...|[nm0539047, nm082...|
|tt0001159|         [nm0597995]|[nm0098376, nm020...|
|tt0001184|[nm0735618, nm069...|                  []|
|tt0001358|[nm0234670, nm566...|[nm0526190, nm053...|
|tt0001381|[nm2547818, nm052...|[nm0414716, nm069...|
|tt0001482|[nm0524306, nm028...|[nm0537556, nm039...|
|tt0001498|[nm0644728, nm069...|[nm0874364, nm064...|
|tt0001531|[nm0198972, nm090...|                  []|
|tt0001586|         [nm0681933]|[nm0060238, nm091...|
|tt0001604|[nm0328760, nm003...|                  []|
|tt0001706|[nm0865178, nm053...|[nm0367891, nm031...|
+---------+--------------------+--------------------+
only showing top 20 rows

In [30]:
query = """select items, freq
           from mostPopularItemInABasket
           where size(items) > 5
           order by freq desc
           limit 20"""
spark.sql(query).show(5)

+--------------------+----+
|               items|freq|
+--------------------+----+
|[nm2687024, nm237...|  20|
|[nm2426685, nm207...|  17|
|[nm2373151, nm236...|  17|
|[nm2414317, nm207...|  16|
|[nm0455938, nm268...|  15|
+--------------------+----+
only showing top 5 rows

In [31]:
query = """select antecedent as `antecedent (if)`, consequent as `consequent (then)`, confidence
           from associationRules
           order by confidence desc
           limit 20"""

spark.sql(query).show(10)

+--------------------+-----------------+----------+
|     antecedent (if)|consequent (then)|confidence|
+--------------------+-----------------+----------+
|[nm3722581, nm288...|      [nm1990182]|       1.0|
|[nm3808706, nm288...|      [nm1984183]|       1.0|
|[nm7096417, nm040...|      [nm2366585]|       1.0|
|[nm1039432, nm030...|      [nm0042874]|       1.0|
|[nm1283907, nm242...|      [nm0648803]|       1.0|
|[nm1283907, nm242...|      [nm2373718]|       1.0|
|         [nm6500818]|      [nm5771748]|       1.0|
|         [nm3721804]|      [nm1984183]|       1.0|
|[nm2762012, nm236...|      [nm0648803]|       1.0|
|[nm2719915, nm128...|      [nm0648803]|       1.0|
+--------------------+-----------------+----------+
only showing top 10 rows

In [32]:
name_basics.show(5)

+---------+---------------+---------+---------+--------------------+--------------------+
|   nconst|    primaryName|birthYear|deathYear|   primaryProfession|      knownForTitles|
+---------+---------------+---------+---------+--------------------+--------------------+
|nm0000001|   Fred Astaire|     1899|     1987|soundtrack,actor,...|tt0050419,tt00531...|
|nm0000002|  Lauren Bacall|     1924|     2014|  actress,soundtrack|tt0117057,tt00373...|
|nm0000003|Brigitte Bardot|     1934|       \N|actress,soundtrac...|tt0049189,tt00599...|
|nm0000004|   John Belushi|     1949|     1982|actor,writer,soun...|tt0078723,tt00804...|
|nm0000005| Ingmar Bergman|     1918|     2007|writer,director,a...|tt0050986,tt00839...|
+---------+---------------+---------+---------+--------------------+--------------------+
only showing top 5 rows

In [33]:
name_basics = name_basics.select("nconst","primaryName")
name_basics.show(2)

+---------+-------------+
|   nconst|  primaryName|
+---------+-------------+
|nm0000001| Fred Astaire|
|nm0000002|Lauren Bacall|
+---------+-------------+
only showing top 2 rows

In [34]:
df_title.show(2)

+---------+---------+
|   tconst|   nconst|
+---------+---------+
|tt0000335|nm1010955|
|tt0000335|nm1012612|
+---------+---------+
only showing top 2 rows

In [35]:
df_actors = name_basics.join(df_title, ["nconst"], 'inner')

In [36]:
df_actors.show(2)

+---------+------------+---------+
|   nconst| primaryName|   tconst|
+---------+------------+---------+
|nm0000004|John Belushi|tt0077621|
|nm0000004|John Belushi|tt0077975|
+---------+------------+---------+
only showing top 2 rows

In [37]:
df_actors = df_actors.select("tconst","primaryName")

In [38]:
df_actors.show(2)

+---------+------------+
|   tconst| primaryName|
+---------+------------+
|tt0077621|John Belushi|
|tt0077975|John Belushi|
+---------+------------+
only showing top 2 rows

In [39]:
baskets_ = df_actors.groupBy('tconst').agg(collect_set('primaryName').alias('actors'))
baskets_.createOrReplaceTempView('baskets_')
df_actors.show(5)
baskets_.show(5)

+---------+------------+
|   tconst| primaryName|
+---------+------------+
|tt0077621|John Belushi|
|tt0077975|John Belushi|
|tt0082200|John Belushi|
|tt0082801|John Belushi|
|tt0078723|John Belushi|
+---------+------------+
only showing top 5 rows

+---------+--------------------+
|   tconst|              actors|
+---------+--------------------+
|tt0000335|[John Jones, Mr. ...|
|tt0000502|[Antonio del Pozo...|
|tt0000630|[Fernanda Negri P...|
|tt0000676|[Jaime Borrás, Jo...|
|tt0000793|      [Henny Porten]|
+---------+--------------------+
only showing top 5 rows

In [40]:
fpGrowth_ = FPGrowth(itemsCol="actors", minSupport=0.00001, minConfidence=0.00001)
model_ = fpGrowth_.fit(baskets_)

In [41]:
# Display frequent itemsets.
mostPopularItemInABasket_ = model_.freqItemsets
mostPopularItemInABasket_.createOrReplaceTempView("mostPopularItemInABasket_")
mostPopularItemInABasket_.show()

# Display generated association rules.
associationRules_ = model_.associationRules
associationRules_.createOrReplaceTempView("associationRules_")
associationRules_.show()

# transform examines the input items against all the association rules and summarize the consequents as prediction
associations_ = model_.transform(baskets_)
associations_.show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+--------------------+----+
|               items|freq|
+--------------------+----+
|   [Leilani Sarelle]|   7|
|        [Ayla Algan]|  20|
|      [Trevor Moore]|   4|
|[Baburao Pendharkar]|  46|
|[Baburao Pendhark...|   8|
|           [Wu Yung]|  10|
|[Wu Yung, Chi-Sin...|   4|
|[Wu Yung, Man-Lei...|   4|
|[Wu Yung, Cho-Cho...|   4|
|     [Ruth Donnelly]|  31|
|[Ruth Donnelly, R...|   4|
|      [Raf Mattioli]|   6|
|     [Chona Delgado]|   9|
|[Chona Delgado, D...|   5|
|[Chona Delgado, L...|   4|
|[Chona Delgado, L...|   4|
|       [Juan Peláez]|  34|
|[Juan Peláez, Jor...|   5|
|[Juan Peláez, Ser...|   4|
|[Juan Peláez, Bru...|   4|
+--------------------+----+
only showing top 20 rows

+--------------------+--------------------+-------------------+------------------+--------------------+
|          antecedent|          consequent|         confidence|              lift|             support|
+--------------------+--------------------+-------------------+------------------+--------------------+
|[Bhanupriya, Saty...|       [Chiranjeevi]|                0.6|1263.3914438502673|1.523782434344024...|
|    [Zdenka Baldová]|       [Hana Vítová]|0.12121212121212122| 1109.956307258633|1.015854956229349...|
|    [Zdenka Baldová]|  [Jindrich Plachta]|0.12121212121212122|1037.5678524374177|1.015854956229349...|
|       [Kevin Smith]|       [Jason Mewes]| 0.2777777777777778| 3906.319444444445|1.269818695286687E-5|
|         [Victor Bo]|      [Isabel Sarli]| 0.3333333333333333| 4375.077777777778|2.285673651516036...|
|         [Victor Bo]|   [Julio De Grazia]| 0.3333333333333333|3860.3627450980393|2.285673651516036...|
|         [Victor Bo]|        [Armando Bo]|0.18518518518518517|1918.8937621832358|1.269818695286687E-5|
|         [Victor Bo]|    [Ricardo Bauleo]|0.48148148148148145| 4308.788720538721|3.301528607745386E-5|
|   [Marjorie Benson]|     [Violet Hopson]|                1.0|7159.2181818181825|1.015854956229349...|
|   [Marjorie Benson]|    [Arthur Walcott]|                1.0|13125.233333333334|1.015854956229349...|
|      [Kunie Tanaka]|      [Yuriko Hoshi]|0.12658227848101267|  722.357365620987|2.539637390573374E-5|
|      [Kunie Tanaka]|    [Kanjûrô Arashi]|0.05063291139240506|  99.6853164556962|1.015854956229349...|
|      [Kunie Tanaka]|    [Bunta Sugawara]| 0.0759493670886076|237.34599156118142|1.523782434344024...|
|      [Kunie Tanaka]|      [Ken Takakura]|0.12658227848101267|332.28438818565405|2.539637390573374E-5|
|      [Kunie Tanaka]|   [Ichirô Arishima]|0.11392405063291139| 527.7457930007446|2.285673651516036...|
|      [Kunie Tanaka]|       [Yûzô Kayama]|0.17721518987341772| 1162.995358649789|3.555492346802723E-5|
|      [Kunie Tanaka]|      [Wakako Sakai]|0.06329113924050633|  996.853164556962|1.269818695286687E-5|
|[Kunitake Akitsuk...|        [Jirô Azuma]|0.36363636363636365|  8422.60962566845|1.015854956229349...|
|[Kunitake Akitsuk...|[Shozaburô Hijikata]| 0.7272727272727273|11014.181818181818|2.031709912458699...|
|[Kunitake Akitsuk...|     [Misao Satsuki]| 0.6363636363636364| 5113.727272727273|1.777746173401361...|
+--------------------+--------------------+-------------------+------------------+--------------------+
only showing top 20 rows

+---------+--------------------+--------------------+
|   tconst|              actors|          prediction|
+---------+--------------------+--------------------+
|tt0000335|[John Jones, Mr. ...|                  []|
|tt0000502|[Antonio del Pozo...|                  []|
|tt0000630|[Fernanda Negri P...|[Eugenio Musso, I...|
|tt0000676|[Jaime Borrás, Jo...|[Luisa Oliván, Bo...|
|tt0000793|      [Henny Porten]|[Rudolf Biebrach,...|
|tt0000862|[Kate Fabian, Hr....|                  []|
|tt0000941|[José Durany, Jos...|[Jaime Devesa, Bo...|
|tt0000992|     [Edith Buemann]|[Holger Reenberg,...|
|tt0001101|   [Leopold Wharton]|                  []|
|tt0001112|[Maria Caserini, ...|[Gian Paolo Rosmi...|
|tt0001115|[Aage Bjørnbak, A...|[Aage Hertel, Alf...|
|tt0001122|[Julien Clément, ...|                  []|
|tt0001159|   [William V. Mong]|[Hobart Bosworth,...|
|tt0001184|[Cecilio Rodrígue...|                  []|
|tt0001230|       [Harry Carey]|[Hoot Gibson, Cha...|
|tt0001277|[Alfred Cohn, Aag...|[Peter Malberg, P...|
|tt0001341|[Berta Friedricho...|                  []|
|tt0001358|[Ernst Munkeboe, ...|[Osvald Helmuth, ...|
|tt0001370|[Carlos Santos, A...|                  []|
|tt0001381|[Carlo Wieth, Gus...|[Oscar Nielsen, F...|
+---------+--------------------+--------------------+
only showing top 20 rows

In [42]:
query_ = """select items, freq
           from mostPopularItemInABasket_
           where size(items) > 5
           order by freq desc
           limit 20"""
spark.sql(query_).show(5)

+--------------------+----+
|               items|freq|
+--------------------+----+
|[Rihaku Arashi, C...|  20|
|[Kakumatsuro Aras...|  17|
|[Chosei Kataoka, ...|  17|
|[Sentarô Nakamura...|  16|
|[Bradford Hill, J...|  15|
+--------------------+----+
only showing top 5 rows

In [43]:
query_ = """select antecedent as `antecedent (if)`, consequent as `consequent (then)`, confidence
           from associationRules_
           order by confidence desc
           limit 20"""

spark.sql(query_).show(10)

+--------------------+--------------------+----------+
|     antecedent (if)|   consequent (then)|confidence|
+--------------------+--------------------+----------+
|      [Rafael Solis]|       [Luis Huizar]|       1.0|
|[Penny Edwards, T...|        [Roy Rogers]|       1.0|
|[Rolly Quizon, De...|       [Nida Blanca]|       1.0|
|   [Marjorie Benson]|     [Violet Hopson]|       1.0|
|[Rolly Quizon, De...|            [Dolphy]|       1.0|
|[Angela Perkins, ...|[April Melody Rox...|       1.0|
|[Utako Suzuki, Ky...|  [Kôichi Katsuragi]|       1.0|
|[Bradford Hill, M...|     [David Gerrold]|       1.0|
|[Keisha, Rick Sav...|   [Caroline Laurie]|       1.0|
|[Matutina, Dely A...|      [Rolly Quizon]|       1.0|
+--------------------+--------------------+----------+
only showing top 10 rows

In [44]:
#from pyspark.sql import functions as F
#transactions= name_basics.groupby("nconst").agg(F.collect_list("primaryName").alias('actor_name'), F.collect_list("nconst").alias('actor_id'))
#transactions.show()

---

# **A-PRIORI ALGORITHM**
We implement an A-priori Algorithm from scratch.

The function takes as input a Resilient Distributed Dataset (RDD) and a threshold.

In [45]:
conf = SparkConf().setAppName("mba")
spark = SparkSession.builder.enableHiveSupport().config(conf = conf).getOrCreate()
sc = spark.sparkContext
# Spark Context 
# Also extra coniguration can be added 
#sc = SparkContext("local" , "Apriori")

In [46]:
from itertools import combinations, product
import pandas as pd
import matplotlib.pyplot as plt
import collections
import time

First of all, we create a list of baskets of actors and then we parallelize the list in RDD.

In [49]:
baskets_actors = baskets.select('actors').rdd.flatMap(list) 
baskets_actors = sc.parallelize(baskets_actors.collect())
print(baskets_actors.collect()[:3])

[['nm1012612', 'nm0675260', 'nm1012621', 'nm1010955', 'nm0675239', 'nm1011210'], ['nm0624446'], ['nm0140054', 'nm0097421']]

In [50]:
baskets_actors.getNumPartitions()

2

 We first define a function that generates singletons from an RDD of couples, triples etc. and returns the singletons and their occurrencies

In [51]:
def create_singletons(rdd): 
  #generates a list of actors, map them to 1 to initialize the counter for each 
  #actor and update the counter for every occurrence
  singletons = rdd.flatMap(list) \
                  .map(lambda item: (item, 1)) \
                  .reduceByKey(lambda x, y: x+y)
  return(singletons)

In [52]:
#define a function that takes an rdd (items) containing the result of the 
#function apriori at step i-1, and the index i which indicates the size of the 
#combinations of actors (starts from i=3 for triples and so on). The function
#generates the singletons from "items" and evaluate the carthesian product 
#between "items" and the singletons.
#returns the combinations which have size = i removing every possible permutation

def new_combinations(items, i):
  #removes the counter from each item. each item in items is in the form 
  #example: ((actor1, actor2),2)
  items = items.map(lambda item: list(item[0])) 
  #generate singletons from each item in items
  singleton = create_singletons(items).map(lambda item: [item[0]]) 
  #initialize an empty list that will contain the new possible combinations
  items_set = [] 
  #for cicle generates the new combinations using the carthesian product between 
  #items and singletons. the result will be like [[item],[singleton]]
  for comb in list(product(items.toLocalIterator(), singleton.toLocalIterator())): 
    #merges the two lists into a "new item" with form "new item"=[item, singleton]
    comb = comb[0]+comb[1] 
    #takes the set of each combination and orders it to prevent permutations to
    #be counted as different item and to remove the repetitions of actors
    comb_set = sorted(set().union(comb))
    #if the set have size == i and was not already included in items_set
    #then it is added to items_set
    if (len(comb_set) == i) and comb_set not in items_set: 
        items_set.append(comb_set) #popoliamo items_set
  return(items_set)

In [53]:
#define the apriori function, takes as parameters an rdd of baskets (just the 
#actors) and the minumum support (threshold) to evaluate the frequent pairs, 
#triples etc. 
#returns an rdd (support) containing all the frequent items and their occurrencies

def apriori(actor_baskets, threshold): 
  #generate singletons 
  singleton = create_singletons(actor_baskets) \
              .filter(lambda item: item[1] >= threshold) \
              .map(lambda item: (item[0])) 
  #find the possible pairs            
  possible_combinations = list(combinations(singleton.toLocalIterator(),2)) 
  #initialize support as empty rdd
  support = sc.parallelize([]) 
  #cache the rdd for better perfomance, it is reused multiple times
  actor_baskets.cache()
  i=3 #starts at 3 since we already found the pairs
  #cicles until possible combinations are found
  while len(possible_combinations)>0: 
    #chek whether the possible items are frequent in the dataset
    frequent_items = actor_baskets.flatMap(lambda cast: [(tuple(item), 1) for item in possible_combinations if set(list(item)).issubset(set(cast))]) \
                    .reduceByKey(lambda x, y: x+y) \
                    .filter(lambda item: item[1] >= threshold)
    #add the frequent items and their occurrencies to support rdd
    support = support.union(frequent_items) 
    #generates new items from the last frequent items found using the function defined above
    possible_combinations = new_combinations(frequent_items, i) 
    #increment i
    i += 1  
    
  #remove actor_baskets from cache
  actor_baskets.unpersist()
  return (support)

In [55]:
#compute the Minimum Support using 0.0003 as fraction of the number of baskets
#in order for pairs, triple etc. to be considered frequent 
count = baskets_actors.count()
threshold = count*0.0003
print(count, threshold)

393759 118.12769999999999

In [ ]:
#Output of A-Priori on all baskets with 118 as minimum support
print(apriori(baskets_actors, threshold).collect())